{
  "email": "EMAIL ADDRESS",
  "token": "API ACCESS TOKEN",
  "current-ip": "0.0.0.0",
  "domains": [
    {
      "name": "DOMAIN RECORD NAME",
      "zone": "DOMAIN ZONE TOKEN"
    },
    {
      "name": "DOMAIN RECORD NAME",
      "zone": "DOMAIN ZONE TOKEN"
    }
  ]
}
