{
	"email": "Account Email Address",
	"token": "Account API Access Token",
	"current-ip": "0.0.0.0",
	"domains": [
		{
			"name": "www.yoursitehere.com-CHANGETHIS",
			"zone": "The Site Zone"
		}
	]
}